<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edu.zucc.mapper.BrandMapper">
    <insert id="add" useGeneratedKeys="true" keyProperty="idrsv">
        INSERT INTO brand(id,brand_name,introduce) VALUE (#{id},#{brand_name},#{introduce})
    </insert>

    <delete id="delete">
        DELETE FROM brand WHERE id=#{id}
    </delete>

    <update id="update">
        UPDATE brand SET id=#{id}
        <if test="brand_name!=null">
            ,brand_name=#{brand_name}
        </if>
        <if test="introduce!=null">
            ,introduce=#{introduce}
        </if>
         WHERE id=#{id}
    </update>

    <select id="findAll" resultType="Brand">
        SELECT * FROM brand
    </select>

    <select id="findByKey" resultType="Brand">
        SELECT * FROM brand WHERE id=#{id}
    </select>
</mapper>
