<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edu.zucc.mapper.DBudgetMapper">
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dbudget(id,province,city,harea,htype,room,hall,kitchen,toilet,balcony,matfee,labfee,desfee,quafee,totalfee) VALUE (#{id},#{province},#{city},#{harea},#{htype},#{room},#{hall},#{kitchen},#{toilet},#{balcony},#{matfee},#{labfee},#{desfee},#{quafee},#{totalfee})
    </insert>

    <delete id="delete">
        DELETE FROM dbudget WHERE id=#{id}
    </delete>

    <update id="update">
        UPDATE dbudget SET id=#{id}
        <if test="province!=null">
            ,province=#{province}
        </if>
        <if test="city!=null">
            ,city=#{city}
        </if>
        <if test="htype!=null">
            ,htype=#{htype}
        </if>
        <if test="harea!=null">
            ,harea=#{harea}
        </if>
        <if test="room!=null">
            ,room=#{room}
        </if>
        <if test="hall!=null">
            ,hall=#{hall}
        </if>
        <if test="kitchen!=null">
            ,kitchen=#{kitchen}
        </if>
        <if test="toilet!=null">
            ,toilet=#{toilet}
        </if>
        <if test="balcony!=null">
            ,balcony=#{balcony}
        </if>
        <if test="matfee!=null">
            ,matfee=#{matfee}
        </if>
        <if test="labfee!=null">
            ,labfee=#{labfee}
        </if>
        <if test="desfee!=null">
            ,desfee=#{desfee}
        </if>
        <if test="quafee!=null">
            ,quafee=#{quafee}
        </if>
        <if test="totalfee!=null">
            ,totalfee=#{totalfee}
        </if>
        WHERE id=#{id}
    </update>

    <select id="findAll" resultType="DBudget">
        SELECT * FROM dbudget
    </select>

    <select id="findByKey" resultType="DBudget">
        SELECT * FROM dbudget WHERE id=#{id}
    </select>

    <select id="findByCity" resultType="DBudget">
        SELECT * FROM dbudget WHERE province="浙江" AND city="杭州" AND htype="新房"
    </select>
</mapper>
