<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edu.zucc.mapper.FurnitureMapper">
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO furniture(id,furnitureType,furnitureName,brand,unitPrice,colour,otherInformation) VALUE (#{id},#{furnitureType},#{furnitureName},#{brand},#{unitPrice},#{colour},#{otherInformation})
    </insert>

    <delete id="delete">
        DELETE FROM furniture WHERE id=#{id}
    </delete>

    <update id="update">
        UPDATE furniture SET id=#{id}
        <if test="furnitureType!=null">
            ,furnitureType=#{furnitureType}
        </if>
        <if test="furnitureName!=null">
            ,furnitureName=#{furnitureName}
        </if>
        <if test="brand!=null">
            ,brand=#{brand}
        </if>
        <if test="unitPrice!=null">
            ,unitPrice=#{unitPrice}
        </if>
        <if test="colour!=null">
            ,colour=#{colour}
        </if>
        <if test="otherInformation!=null">
            ,otherInformation=#{otherInformation}
        </if>
        WHERE id=#{id}
    </update>

    <select id="findAll" resultType="Furniture">
        SELECT * FROM furniture
    </select>

    <select id="findByKey" resultType="Furniture">
        SELECT * FROM furniture WHERE id=#{id}
    </select>

    <!--根据家具类型名查-->
    <select id="findByType" resultType="Furniture">
        SELECT *
        FROM furniture a,furniture_type b
        WHERE a.furnitureType=b.id
        AND b.typeName=#{typeName}
    </select>

    <!--根据家具名称查-->
    <select id="findByName" resultType="Furniture">
        SELECT * FROM furniture WHERE furnitureName like '%${furnitureName}%'
    </select>

    <!--根据品牌名查-->
    <select id="findByBand" resultType="Furniture">
        SELECT *
        FROM furniture a,brand b
        WHERE a.brand=b.id
        AND b.brandName=#{brandName}
    </select>

    <!--根据价格区间查-->
    <select id="findByPrice" resultType="Furniture">
        SELECT * FROM furniture WHERE unitPrice BETWEEN #{first} AND #{last}
    </select>

</mapper>
