<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edu.zucc.mapper.FurnituretypeMapper">
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO furniture_type(id,typeName) VALUE (#{id},#{typeName})
    </insert>

    <delete id="delete">
        DELETE FROM furniture_type WHERE id=#{id}
    </delete>

    <update id="update">
        UPDATE furniture_type SET id=#{id}
        <if test="typeName!=null">
            ,typeName=#{typeName}
        </if>
        WHERE id=#{id}
    </update>

    <select id="findAll" resultType="Furnituretype">
        SELECT * FROM furniture_type
    </select>

    <select id="findByKey" resultType="Furnituretype">
        SELECT * FROM furniture_type WHERE id=#{id}
    </select>
</mapper>
