<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edu.zucc.mapper.MaterialMapper">
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO material(id,materialType,materialName,unitPrice,brand,colour,otherInformation) VALUE (#{id},#{materialType},#{materialName},#{unitPrice},#{brand},#{colour},#{otherInformation})
    </insert>

    <delete id="delete">
        DELETE FROM material WHERE id=#{id}
    </delete>

    <update id="update">
        UPDATE material SET id=#{id}
        <if test="materialType!=null">
            ,materialType=#{materialType}
        </if>
        <if test="materialName!=null">
            ,materialName=#{materialName}
        </if>
        <if test="unitPrice!=null">
            ,unitPrice=#{unitPrice}
        </if>
        <if test="brand!=null">
            ,brand=#{brand}
        </if>
        <if test="colour!=null">
            ,colour=#{colour}
        </if>
        <if test="otherInformation!=null">
            ,otherInformation=#{otherInformation}
        </if>
        WHERE id=#{id}
    </update>

    <select id="findAll" resultType="Material">
        SELECT * FROM material
    </select>

    <select id="findByKey" resultType="Material">
        SELECT * FROM material WHERE id=#{id}
    </select>

    <!--根据材质类型名查-->
    <select id="findByType" resultType="Material">
        SELECT *
        FROM material a,material_Type b
        WHERE a.materialType=b.id
        AND b.typeName=#{typeName}
    </select>

    <!--根据材质名称查-->
    <select id="findByName" resultType="Material">
        SELECT * FROM material WHERE materialName like '%${materialName}%'
    </select>

    <!--根据品牌名查-->
    <select id="findByBand" resultType="Material">
        SELECT *
        FROM material a,brand b
        WHERE a.brand=b.id
        AND b.brandName=#{brandName}
    </select>

    <!--根据价格区间查-->
    <select id="findByPrice" resultType="Material">
        SELECT * FROM material WHERE unitPrice BETWEEN #{first} AND #{last}
    </select>

</mapper>
