<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zh">
<head>
    <!-- Meta tags -->
    <title>DIY家具预算</title>
    <meta name="keywords" content="decorate a interior Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen"/> <!-- Testimonials js-->
    <link rel="stylesheet" href="css/lightbox.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="http://www.bootcss.com/p/buttons/css/buttons.css">

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,700i,800,900" rel="stylesheet">
    <!-- scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/alert.js"></script>
</head>
<body>
<div class="agile-banner">

    <nav class="navbar w3-navbar">

        <div class="container-fluid">
            <div class="row">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Logo -->
                    <div class="logo-container" style="margin-top: 4px">
                        <div class="logo-wrap">
                            <a href="#home" class="scroll">
                                Decorate
                            </a>
                        </div>
                    </div>
                </div> <!-- end navbar-header -->


                <div class="nav-wrap">
                    <div class="collapse text-center navbar-collapse w3ls-nav navbar-collapse">

                        <ul class="nav navbar-nav w3ls-nav1 text-center">

                            <li>
                                <a href="/index" class="scroll">用户中心</a>
                            </li>
                            <li>
                                <a href="/skills" class="scroll">装修技巧</a>
                            </li>
                            <li>
                                <a href="/knowledge" class="scroll">装修常识</a>
                            </li>
                            <li>
                                <a href="/product" class="scroll">成品预算</a>
                            </li>
                            <li class="active">
                                <a href="/budget" class="scroll">DIY家具预算</a>
                            </li>
                            <li>
                               <a href="/dbudget" class="scroll">装修预算</a>
                            </li>
                            <li><a href="/message" class="scroll">留言板</a></li>
                            <li>
                                <a href="/logout" class="scroll">注销</a>
                            </li>

                        </ul>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div> <!-- end container -->
    </nav> <!-- end navbar -->
</div>
<div style="width: 100%;height: 240px;background-image: url('images/banner1.jpg')"></div>
<style>
    p {
        font-family: 'Open Sans', sans-serif;
    }

    .page-box {
        position: relative;
        width: 100%;
        min-height: 900px;
        overflow: hidden;
        padding: 0 10%;
    }

    .list-title {
        padding: 1% 1%;
        color: darkgreen;
        border-bottom: 1px solid orange;
    }

    .list-box {
        width: 100%;
        padding: 1% 0;
    }

    .list-row::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .list-span {
        float: left;
        width: 19%;
        margin-bottom: 20px;
        border: 1px solid #d3d3d3;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        padding: 8px;
        margin-left: 1.25%;
    }

    .list-span.active {
        border: 1px solid red;
        box-shadow: 0 1px 1px rgba(255, 0, 0, 1);
    }

    .list-span:first-child {
        margin-left: 0;
    }

    #material-list .list-span {
        height: 150px;
    }

    #worker-list .list-span {
        height: 130px;
    }

    .material-name, .worker-name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        color: #0b3e6f;
        font-size: 27px;
        font-weight: 700;
    }

    .material-brand {
        display: inline;
        color: #aaaaaa;
    }

    .worker-Position {
        color: #aaaaaa;
    }

    .material-type {
        float: right;
        color: #aaaaaa;
        text-align: right;
    }

    .material-colour {
        color: #aaaaaa;
    }

    .material-price, .worker-price {
        float: right;
        font-size: 18px;
        color: orange;
    }

    .btn-add {
        float: right;
        margin-top: 2px;
        margin-left: 5px;
    }

    .material-name a {
        color: #0b97c4;
        transition: color 0.2s;
    }

    .material-name a:hover {
        color: orange;
    }


</style>
<div class="page-box">
    <div class="row">
        <div class="col-md-12 list-title">
            <h2>材料选择</h2>
        </div>
    </div>
    <div class="list-box" id="material-list">
        <div class="list-row">
            <div class="list-span">
                <p class="material-name">name</p>
                <p class="material-brand">brand</p>
                <p class="material-type">type</p>
                <p class="material-colour">colour</p>

                <button class="button button-raised button-action button-circle button-jumbo button-small btn-add">
                    <i class="fa fa-plus"></i>
                </button>
                <p class="material-price">price</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 list-title">
            <h2>技工选择</h2>
        </div>
    </div>
    <div class="list-box" id="worker-list">
        <div class="list-row">
            <div class="list-span">
                <p class="worker-name">name</p>
                <p class="worker-Position">brand</p>

                <button class="button button-raised button-action button-circle button-jumbo button-small btn-add">
                    <i class="fa fa-plus"></i>
                </button>
                <p class="worker-price">price</p>
            </div>
        </div>
    </div>
    <div style="text-align: center;margin-top: 50px">
        <a href="#" class="button button-3d button-primary button-rounded"
           style="font-size: 3rem;font-weight: 700" onclick="addDIYBudget()">添加到收藏夹</a>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">材料信息</h4>
            </div>
            <div class="modal-body" id="myModalBody">
                <p class="name" id="fname">aaaaaaaaaaaaaaaaaaaaaaaa</p>
                <div class="info">
                    <p class="price" id="fprice">100</p>
                    <p class="brand" id="fbrand">bbbbbbbbbbbbbbbbb</p>
                    <p class="type" id="ftype">tttttttttttt</p>
                </div>
                <hr>
                <p class="remark" id="fremark">rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</p>
            </div>
            <div class="modal-footer" id="modalFooter">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    var materials = {'datalist': []};
    var workers = {'datalist': []};
    var ms = {'datalist': []};
    var ws = {'datalist': []};
    $(function () {
        $.ajax({
            type: "GET",
            url: "/api/worker",
            success: function (data) {
                var str = '<div class="list-row">';
                for (var i = 0; i < data.length; i++) {
                    if (i % 5 == 0 && i != 0)
                        str += '</div><div class="list-row">'
                    var worker = {
                        id: data[i].id,
                        workerName: data[i].workerName,
                        position: data[i].position,
                        dailyWage: data[i].dailyWage
                    }
                    workers.datalist.push(worker);
                    str += '<div class="list-span">\n' +
                        '<p class="worker-name">' + data[i].workerName + '</p>\n' +
                        '<p class="worker-Position">' + data[i].position + '</p>\n' +
                        '<div><button class="button button-raised button-action button-circle button-jumbo button-small btn-add" onclick="addWorker(this,' + data[i].id + ',' + data[i].dailyWage + ')">\n' +
                        '<i class="fa fa-plus"></i>\n' +
                        '</button> \n' +
                        '<p class="worker-price">￥' + data[i].dailyWage + '/天</p>\n' +
                        '</div></div>\n';
                }
                $("#worker-list").html(str + '</div>');
            }
        });
        $.ajax({
            type: "GET",
            url: "/api/material/getall",
            success: function (data) {
                var str = '<div class="list-row">';
                for (var i = 0; i < data.length; i++) {
                    if (i % 5 == 0 && i != 0)
                        str += '</div><div class="list-row">'
                    var material = {
                        id: data[i].id,
                        materialName: data[i].materialName,
                        unitPrice: data[i].unitPrice,
                        colour: data[i].colour,
                        otherInformation: data[i].otherInformation,
                        brandName: data[i].brandName,
                        typeName: data[i].typeName
                    }
                    materials.datalist.push(material);
                    str += '<div class="list-span">\n' +
                        '<p class="material-name"><a href="#" onclick="showRemark(' + data[i].id + ')">' + data[i].materialName + '</a></p>\n' +
                        '<p class="material-brand">' + data[i].brandName + '</p>\n' +
                        '<p class="material-type">' + data[i].typeName + '</p>\n' +
                        '<p class="material-colour">' + data[i].colour + '</p>\n' +
                        '<div>' +
                        '<button class="button button-raised button-action button-circle button-jumbo button-small btn-add" onclick="addMaterial(this,' + data[i].id + ',' + data[i].unitPrice + ')">\n' +
                        '<i class="fa fa-plus"></i>\n' +
                        '</button>\n' +
                        '<p class="material-price">￥' + data[i].unitPrice + '</p>\n' +
                        '</div></div>'
                }
                $("#material-list").html(str + '</div>');
            }
        })
    })

    function showRemark(id) {
        var fs = materials.datalist;
        for (var i = 0; i < fs.length; i++) {
            if (fs[i].id != id)
                continue;
            $("#fname").text(fs[i].materialName);
            $("#fbrand").text(fs[i].brandName);
            $("#ftype").text(fs[i].typeName);
            $("#fprice").text("￥" + fs[i].unitPrice);
            $("#fremark").text(fs[i].otherInformation);
            $("#myModal").modal('show');
        }
    }

    function addWorker(obj, id, price) {
        var $spn = $(obj).parent().parent();
        var $btn = $(obj).parent();
        myInput("添加技工", "时长", "number", "天数", function (e) {
            if (e == "")
                myAlert("添加错误", "没有输入工作时长");
            if (e != false) {
                var worker = {
                    id: id,
                    time: e
                };
                ws.datalist.push(worker);
                $spn.addClass("active");
                $btn.html('<button class="button button-raised button-primary button-circle button-jumbo button-small btn-add" onclick="delWorker(this,' + id + ',' + price + ')">\n' +
                    '<i class="fa fa-minus"></i>\n' +
                    '</button> \n' +
                    '<p class="worker-price">￥' + price + '/天*' + e + '</p>\n')
                // myAlert("添加技工", "添加成功");
            }
        })
    }

    function delWorker(obj, id, price) {
        var fs = ws.datalist;
        for (var i = 0; i < fs.length; i++) {
            if (fs[i].id != id)
                continue;
            fs.splice(i, 1);
            break;
        }
        var $spn = $(obj).parent().parent();
        var $btn = $(obj).parent();
        $spn.removeClass("active")
        $btn.html('<button class="button button-raised button-action button-circle button-jumbo button-small btn-add" onclick="addWorker(this,' + id + ',' + price + ')">\n' +
            '<i class="fa fa-plus"></i>\n' +
            '</button> \n' +
            '<p class="worker-price">￥' + price + '/天</p>\n');
    }

    function addMaterial(obj, id, price) {
        var $spn = $(obj).parent().parent();
        var $btn = $(obj).parent();
        myInput("添加材料", "数量", "number", "数量", function (e) {
            if (e == "")
                myAlert("添加错误", "没有输入材料数量");
            if (e != false) {
                var material = {
                    id: id,
                    count: e
                };
                ms.datalist.push(material);
                $spn.addClass("active");
                $btn.html('<button class="button button-raised button-primary button-circle button-jumbo button-small btn-add" onclick="delMaterial(this,' + id + ',' + price + ')">\n' +
                    '<i class="fa fa-minus"></i>\n' +
                    '</button> \n' +
                    '<p class="material-price">￥' + price + '*' + e + '</p>\n')
                // myAlert("添加技工", "添加成功");
            }
        })
    }

    function delMaterial(obj, id, price) {
        var fs = ms.datalist;
        for (var i = 0; i < fs.length; i++) {
            if (fs[i].id != id)
                continue;
            fs.splice(i, 1);
            break;
        }
        var $spn = $(obj).parent().parent();
        var $btn = $(obj).parent();
        $spn.removeClass("active")
        $btn.html('<button class="button button-raised button-action button-circle button-jumbo button-small btn-add" onclick="addMaterial(this,' + id + ',' + price + ')">\n' +
            '<i class="fa fa-plus"></i>\n' +
            '</button> \n' +
            '<p class="material-price">￥' + price + '</p>\n');
    }

    function addDIYBudget() {
        myConfirm("添加DIY", "确认要添加DIY预算收藏吗?", function (e) {
            if (e == true) {
                var mdata = ms.datalist;
                var materials = "";
                for (var i = 0; i < mdata.length; i++) {
                    var id = mdata[i].id;
                    var count = mdata[i].count;
                    materials += (id + "-" + count);
                    if (i != mdata.length - 1)
                        materials += ",";
                }
                var wdata = ws.datalist;
                var workers = "";
                for (var i = 0; i < wdata.length; i++) {
                    var id = wdata[i].id;
                    var time = wdata[i].time;
                    workers += (id + "-" + time);
                    if (i != wdata.length - 1)
                        workers += ",";
                }
                if (materials == "")
                    myAlert("添加错误", "没有选择任何材料");
                else if (workers == "")
                    myAlert("添加错误", "没有选择任何技工");
                else {
                    $.ajax({
                        type: "POST",
                        url: "/api/dIYBudget/addwithuser",
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({
                            meterials: materials,
                            workers: workers
                        }),
                        success: function (data) {
                            if (data.resultCode == 0) {
                                myAlert("系统提示", "新建成功", function (e) {
                                    if (e == true)
                                        location.reload();
                                });
                            }
                            else {
                                myAlert("添加错误", data.message);
                            }
                        }
                    })
                }
            }
        })
    }
</script>
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="list">
            <ul class="social-footer-icons">
                <li>Decorate</li>
                <li>
                    <a href="#"><span class="fa fa-dribbble" aria-hidden="true"></span></a>
                    <a href="#"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                    <a href="#"><span class="fa fa-vk" aria-hidden="true"></span></a>
                    <a href="#"><span class="fa fa-pinterest-p" aria-hidden="true"></span></a>
                    <a href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                </li>
            </ul>

            <ul class="address">
                <li> Sophia Road</li>
                <li> 1594 Nicolas</li>
                <li> U S A</li>
            </ul>

            <ul class="email">
                <li>+1 358 649 4885</li>
                <li><a href="mailto:service@decorate.com">service@decorate.com</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- //footer -->
<!-- copyright -->
<div class="copyright">
    <div class="container">
        <p>© 2017 Decorate. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
    </div>
</div>
<!-- //copyright -->
<!-- scripts -->

<script src="js/bootstrap.min.js"></script>

<script src="js/jquery.flexslider.js"></script>

<!--Start-slider-script-->

<!--End-slider-script-->

<!-- smooth scrolling -->
<script src="js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!-- here stars scrolling icon -->
<!-- //here ends scrolling icon -->
<!-- smooth scrolling -->

<!-- scrolling script -->
<!-- //scrolling script -->

</body>
</html>
