<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="starter">
<head>
    <meta charset="UTF-8">
    <title>家具预算后台</title>
</head>
<body>
<!-- Content Wrapper. Contains page content -->
<div layout:fragment="content" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <style>
        #addBtn {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
    <section class="content-header">
        <h1>
            预算管理
            <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="tableBox">
            <table class="table" id="table"
                   data-toggle="table"
                   data-striped="true"
                   data-search="true"
                   data-click-to-select="true"
                   data-pagination="true"
                   data-page-size="1000"
                   data-page-list="[]" data-url="/api/dIYBudget/getall">
                <thead>
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="userName">User</th>
                    <th data-field="meterialsName">Meterials</th>
                    <th data-field="workersName">Workers</th>
                    <th data-field="price">Price</th>
                    <th data-field="console" data-formatter="optFormatter">Option</th>
                </tr>
                </thead>
            </table>
        </div>
        <script>
            $(function () {
                $(".tableBox .fixed-table-toolbar").prepend("<button type='button' class='btn btn-success' id='addBtn' onclick='createModal()'>新增</button>");

                $("#table").bootstrapTable('resetView', {
                    height: document.documentElement.clientHeight - 200
                });
            })

            function optFormatter(value, row, index) {
                var e = '<button type="button" class="btn btn-info  btn-xs" style="margin-right: 5px"  onclick="modifyModal(' + index + ')">编辑</button>';
                e += '<button type="button" class="btn btn-danger  btn-xs" onclick="deleteBudget(this)">删除</button>';
                return e;
            }

            function deleteBudget(obj) {
                var tr = obj.parentNode.parentNode;
                var id = tr.cells[0].innerHTML;
                var name = tr.cells[1].innerHTML;
                myConfirm("删除预算", "是否删除" + name + "的预算记录一条？", function (con) {
                    if (con == true) {
                        $.ajax({
                            type: "DELETE",
                            url: "/api/dIYBudget/" + id,
                            success: function (data) {
                                if (data.resultCode == 0) {
                                    myAlert("系统提示", "删除预算成功");
                                    $("#myModal").modal("hide");
                                    $('#table').bootstrapTable('refresh');
                                    initModal();
                                }
                                else {
                                    myAlert("错误",data.message);;
                                }
                            }
                        })
                    }
                })
            }
        </script>
        <!--<script type="application/javascript">-->
        <!--$(function () {-->
        <!--$.ajax({-->
        <!--type:"GET",-->
        <!--url:"/api/user",-->
        <!--success:function (data) {-->
        <!--$("#table").bootstrapTable('load',data);-->
        <!--}-->
        <!--})-->
        <!--})-->
        <!--</script>-->
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert" role="alert" id="modalAlert" hidden></div>
                        <form class="form-horizontal">
                            <div class="form-group" id="groupID">
                                <label for="inputID" class="col-sm-2 control-label">Budget ID</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputID" placeholder="User's ID"
                                           disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputUser" class="col-sm-2 control-label">Budget User</label>
                                <div class="col-sm-10">
                                    <select class="form-control selectpicker" id="inputUser" data-live-search="true"
                                            title="Choose one of the following...">
                                        <option th:each="user:${users}" th:value="${user.id} "
                                                th:text="${user.username}"></option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="inputMaterials" class="col-sm-2 control-label">Materials</label>
                                <div class="col-sm-10">
                                    <select class="form-control selectpicker" id="inputMaterials"
                                            data-live-search="true" data-width="78%"
                                            title="Choose one of the following...">
                                        <option th:each="material:${materials}" th:value="${material.id}"
                                                th:text="${material.materialName}"></option>
                                    </select>
                                    <button class="btn btn-success" type="button" style="width:20%;float: right"
                                            onclick="addMaterial()">添加
                                    </button>
                                </div>
                            </div>
                            <table class="table"
                                   id="materialBox"
                                   data-toggle="table"
                                   data-striped="true"
                                   data-pagination="true"
                                   data-page-list="[]">
                                <thead>
                                <tr>
                                    <th data-field="materialName">材料名</th>
                                    <th data-field="count">数量</th>
                                    <th data-field="console" data-formatter="matFormatter">操作</th>
                                </tr>
                                </thead>
                            </table>
                            <hr>
                            <div class="form-group">
                                <label for="inputWorkers" class="col-sm-2 control-label">Workers</label>
                                <div class="col-sm-10">
                                    <select class="form-control selectpicker" id="inputWorkers" data-live-search="true"
                                            data-width="78%"
                                            title="Choose one of the following...">
                                        <option th:each="worker:${workers}" th:value="${worker.id}"
                                                th:text="${worker.workerName}"></option>
                                    </select>
                                    <button class="btn btn-success" type="button" style="width:20%;float: right"
                                            onclick="addWorker()">添加
                                    </button>
                                </div>
                            </div>
                            <table class="table"
                                   id="workerBox"
                                   data-toggle="table"
                                   data-striped="true"
                                   data-pagination="true"
                                   data-page-list="[]">
                                <thead>
                                <tr>
                                    <th data-field="workerName">技工名</th>
                                    <th data-field="time">时长</th>
                                    <th data-field="console" data-formatter="worFormatter">操作</th>
                                </tr>
                                </thead>
                            </table>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="saveChanges">Save changes</button>
                    </div>
                </div>
            </div>
            <script type="application/javascript">
                $("#workerBox").bootstrapTable({
                    formatNoMatches: function () {
                        return "没有选择任何工人";
                    }
                });

                $("#materialBox").bootstrapTable({
                    formatNoMatches: function () {
                        return "没有选择任何材料";
                    }
                });

                function matFormatter(value, row, index) {
                    var e = '<button type="button" class="btn btn-info  btn-xs" style="margin-right: 5px"  onclick="modifyMat(' + index + ')">编辑</button>';
                    e += '<button type="button" class="btn btn-danger  btn-xs" onclick="deleteMat(\'' + row.materialName + '\')">删除</button>';
                    return e;
                }

                function worFormatter(value, row, index) {
                    var e = '<button type="button" class="btn btn-info  btn-xs" style="margin-right: 5px"  onclick="modifyWor(' + index + ')">编辑</button>';
                    e += '<button type="button" class="btn btn-danger  btn-xs" onclick="deleteWor(\'' + row.workerName + '\')">删除</button>';
                    return e;
                }

                function deleteMat(name) {
                    $("#materialBox").bootstrapTable('remove', {field: 'materialName', values: [name]});
                }

                function modifyMat(index) {
                    myInput("选择数量", "材料数量", "number", "数量", function (e) {
                        if (e == "")
                            myAlert("修改错误", "没有输入材料数量");
                        if (e != false) {
                            $("#materialBox").bootstrapTable('updateRow', {
                                index: index,
                                row: {count: e}
                            });
                        }
                    })
                }

                function deleteWor(name) {
                    $("#workerBox").bootstrapTable('remove', {field: 'workerName', values: [name]});
                }

                function modifyWor(index) {
                    myInput("选择数量", "工作时长", "number", "时间", function (e) {
                        if (e == "")
                            myAlert("添加错误", "没有输入工作时长");
                        if (e != false) {
                            $("#workerBox").bootstrapTable('updateRow', {
                                index: index,
                                row: {time: e}
                            });
                        }
                    })
                }

                function addMaterial() {
                    var $table = $("#materialBox");
                    var id = $("#inputMaterials").val();
                    var name = $("#inputMaterials").find("option:selected").text();
                    $table.bootstrapTable("checkBy", {field: "materialName", values: [name]});
                    var nop = $table.bootstrapTable('getSelections');
                    $table.bootstrapTable("uncheckBy", {field: "materialName", values: [name]});
                    if (nop.length != 0)
                        myAlert("添加错误", "已添加该材料，您可以修改数量或删除");
                    else if (id == "") {
                        myAlert("添加错误", "没有选择任何材料");
                    }
                    else {
                        myInput("选择数量", "材料数量", "number", "数量", function (e) {
                            if (e == "")
                                myAlert("添加错误", "没有输入材料数量");
                            if (e != false) {
                                $table.bootstrapTable('insertRow', {
                                    index: 0,
                                    row: {materialName: name, count: e, id: id}
                                });
                                $("#inputMaterials").selectpicker('val', '');
                            }
                        })
                    }
                }

                function addWorker() {
                    var $table = $("#workerBox");
                    var id = $("#inputWorkers").val();
                    var name = $("#inputWorkers").find("option:selected").text();
                    $table.bootstrapTable("checkBy", {field: "workerName", values: [name]});
                    var nop = $table.bootstrapTable('getSelections');
                    $table.bootstrapTable("uncheckBy", {field: "workerName", values: [name]});
                    if (nop.length != 0)
                        myAlert("添加错误", "已添加该技工，您可以修改数量或删除");
                    else if (id == "") {
                        myAlert("添加错误", "没有选择任何技工");
                    }
                    else {
                        myInput("选择数量", "工作时长", "number", "时间", function (e) {
                            if (e == "")
                                myAlert("添加错误", "没有输入工作时长");
                            if (e != false) {
                                $table.bootstrapTable('insertRow', {
                                    index: 0,
                                    row: {workerName: name, time: e, id: id}
                                });
                                $("#inputWorkers").selectpicker('val', '');
                            }
                        })
                    }
                }

                function initModal() {
                    $("#modalAlert").hide();
                    $("#groupID").hide();
                    $("#inputID").val("");
                    $("#inputUser").selectpicker('val', '');
                    $("#inputWorkers").selectpicker('val', '');
                    $("#inputMaterials").selectpicker('val', '');
                    $("#materialBox").bootstrapTable('removeAll');
                    $("#workerBox").bootstrapTable('removeAll');
                }

                function alertError(text) {
                    var al = $("#modalAlert");
                    al.get(0).className = "alert alert-error";
                    al.shake(2, 10, 200);
                    al.slideDown("fast");
                    al.text(text);
                }

                function createModal() {
                    initModal();
                    var btn = document.getElementById("saveChanges");
                    btn.setAttribute("onclick", "createNewBudget()");
                    $("#myModalLabel").text("新增预算");
                    $("#myModal").modal("show");
                }

                function modifyModal(index) {
                    initModal()
                    var data = $("#table").bootstrapTable('getData')[index];
                    var id = data.id;
                    var user = data.user;
                    var materials = data.meterials;
                    var workers = data.workers;
                    var meterialsName = data.meterialsName;
                    var workersName = data.workersName;
                    $("#inputID").val(id);
                    $("#groupID").show();
                    $("#inputUser").selectpicker('val', user);
                    var material = materials.split(",");
                    var mname = meterialsName.split(",");
                    for (var i = 0; i < material.length; i++) {
                        var m = material[i].split("-");
                        var mid = m[0];
                        var count = parseFloat(m[1]);
                        var name = mname[i].split("(")[0];
                        $("#materialBox").bootstrapTable('insertRow', {
                            index: 0,
                            row: {materialName: name, count: count, id: mid}
                        });
                    }
                    var worker = workers.split(",");
                    var wname = workersName.split(",");
                    for (var i = 0; i < worker.length; i++) {
                        var m = worker[i].split("-");
                        var wid = m[0];
                        var time = parseFloat(m[1]);
                        var name = wname[i].split("(")[0];
                        $("#workerBox").bootstrapTable('insertRow', {
                            index: 0,
                            row: {workerName: name, time: time, id: wid}
                        });
                    }
                    var btn = document.getElementById("saveChanges");
                    btn.setAttribute("onclick", "modifyBudget()");
                    $("#myModalLabel").text("修改预算");
                    $("#myModal").modal("show");
                }

                function createNewBudget() {
                    var $m = $("#materialBox");
                    var mdata = $m.bootstrapTable('getOptions').data;
                    var materials = "";
                    for (var i = 0; i < mdata.length; i++) {
                        var id = mdata[i].id;
                        var count = mdata[i].count;
                        materials += (id + "-" + count);
                        if (i != mdata.length - 1)
                            materials += ",";
                    }
                    var $w = $("#workerBox");
                    var wdata = $w.bootstrapTable('getOptions').data;
                    var workers = "";
                    for (var i = 0; i < wdata.length; i++) {
                        var id = wdata[i].id;
                        var time = wdata[i].time;
                        workers += (id + "-" + time);
                        if (i != wdata.length - 1)
                            workers += ",";
                    }
                    var user = $("#inputUser").val();
                    if (user == "")
                        alertError("用户名不可以为空");
                    else if (materials == "")
                        alertError("材料不可以为空");
                    else if (workers == "")
                        alertError("技工不可以为空");
                    else {
                        $.ajax({
                            type: "POST",
                            url: "/api/dIYBudget/add",
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify({
                                user: user,
                                meterials: materials,
                                workers: workers
                            }),
                            success: function (data) {
                                if (data.resultCode == 0) {
                                    myAlert("系统提示", "新建成功");
                                    $("#myModal").modal("hide");
                                    $('#table').bootstrapTable('refresh');
                                    initModal();
                                }
                                else {
                                    myAlert("错误",data.message);;
                                }
                            }
                        })
                    }
                }

                function modifyBudget() {
                    var budgetid = $("#inputID").val();
                    var $m = $("#materialBox");
                    var mdata = $m.bootstrapTable('getOptions').data;
                    var materials = "";
                    for (var i = 0; i < mdata.length; i++) {
                        var id = mdata[i].id;
                        var count = mdata[i].count;
                        materials += (id + "-" + count);
                        if (i != mdata.length - 1)
                            materials += ",";
                    }
                    var $w = $("#workerBox");
                    var wdata = $w.bootstrapTable('getOptions').data;
                    var workers = "";
                    for (var i = 0; i < wdata.length; i++) {
                        var id = wdata[i].id;
                        var time = wdata[i].time;
                        workers += (id + "-" + time);
                        if (i != wdata.length - 1)
                            workers += ",";
                    }
                    var user = $("#inputUser").val();
                    if (user == "")
                        alertError("用户名不可以为空");
                    else if (materials == "")
                        alertError("材料不可以为空");
                    else if (workers == "")
                        alertError("技工不可以为空");
                    else {
                        $.ajax({
                            type: "PUT",
                            url: "/api/dIYBudget/update",
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify({
                                id: budgetid,
                                user: user,
                                meterials: materials,
                                workers: workers
                            }),
                            success: function (data) {
                                if (data.resultCode == 0) {
                                    myAlert("系统提示", "修改成功");
                                    $("#myModal").modal("hide");
                                    $('#table').bootstrapTable('refresh');
                                    initModal();
                                }
                                else {
                                    myAlert("错误",data.message);;
                                }
                            }
                        })
                    }
                }
            </script>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
</body>
</html>