<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zh">
<head>
    <!-- Meta tags -->
    <title>成品预算</title>
    <meta name="keywords" content="decorate a interior Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen"/> <!-- Testimonials js-->
    <link rel="stylesheet" href="css/lightbox.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,700i,800,900" rel="stylesheet">
    <!-- scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/alert.js"></script>
</head>
<body>
<div class="agile-banner">

    <nav class="navbar w3-navbar">

        <div class="container-fluid">
            <div class="row">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Logo -->
                    <div class="logo-container" style="margin-top: 4px">
                        <div class="logo-wrap">
                            <a href="#home" class="scroll">
                                Decorate
                            </a>
                        </div>
                    </div>
                </div> <!-- end navbar-header -->


                <div class="nav-wrap">
                    <div class="collapse text-center navbar-collapse w3ls-nav navbar-collapse">

                        <ul class="nav navbar-nav w3ls-nav1 text-center">

                            <li>
                                <a href="/index" class="scroll">用户中心</a>
                            </li>
                            <li>
                                <a href="/skills" class="scroll">装修技巧</a>
                            </li>
                            <li>
                                <a href="/knowledge" class="scroll">装修常识</a>
                            </li>
                            <li class="active">
                                <a href="/product" class="scroll">成品预算</a>
                            </li>
                            <li><a href="/budget" class="scroll">DIY家具预算</a></li>
                            <li><a href="/message" class="scroll">留言板</a></li>
                            <li>
                                <a href="/logout" class="scroll">注销</a>
                            </li>

                        </ul>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div> <!-- end container -->
    </nav> <!-- end navbar -->
</div>
<div style="width: 100%;height: 240px;background-image: url('images/banner1.jpg')"></div>
<style>
    p {
        font-family: 'Open Sans', sans-serif;
    }

    .page-box {
        position: relative;
        width: 100%;
        height: 1300px;
        overflow: hidden;
        padding: 0 10%;
    }

    .type-box {
        position: fixed;
        float: left;
        width: 20%;
    }

    .type-box p {
        display: block;
        padding: 4px 20px;
        margin: 5px 0;
        border-bottom: 1px solid #009688;
        font-size: 2rem;
        font-weight: 200;
        color: #ccc;
    }

    .info-box {
        position: absolute;
        left: 30%;
        box-sizing: border-box;
        padding: 0px 10px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        float: left;
        width: 64%;
        flex-wrap: wrap;
    }

    .info-box .product {
        width: 22%;
        height: 400px;
        border: 1px solid #ddd;
        border-radius: 5px;
        float: left;
        margin-top: 20px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }

    .product-info {
        box-sizing: border-box;
        position: relative;
        padding: 5px 10px;
        height: 100px;
    }

    .product-info p {
        color: #ccc;
    }

    .product-photo {
        height: 300px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        -moz-background-size: 100% 100%;
    }

    .product-name {
        font-size: 2rem;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .type-list a {
        display: inline-block;
        padding: 2px 5px;
        transition: none !important;
    }

    .type-list a.active {
        color: orange;
    }

    .product-name a, .type-list a {
        color: #0b3e6f;
        transition: color 1s;
    }

    .product-name a:hover, .type-list a:hover {
        color: #0b97c4;
    }

    .type-list a.active:hover {
        color: orange;
    }

    .product-brand {
        position: absolute;
        bottom: 5px;
    }

    .product-type {
        position: absolute;
        bottom: 5px;
        right: 10px;
    }

</style>
<div class="page-box">
    <div class="type-box">
        <p>品牌</p>
        <div class="type-list" id="brandList">
            <a class="active" href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a
                href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a
                href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a
                href="">aaaaa</a><a href="">aaaaa</a>
        </div>
        <p>种类</p>
        <div class="type-list" id="typeList">
            <a href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a
                href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a
                href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a
                href="">aaaaa</a><a href="">aaaaa</a>
        </div>
        <!--<p>色彩</p>-->
        <!--<div class="type-list">-->
            <!--<a href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a-->
                <!--href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a-->
                <!--href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a href="">aaaaa</a><a-->
                <!--href="">aaaaa</a><a href="">aaaaa</a>-->
        <!--</div>-->
    </div>
    <div class="info-box">
        <div class="product">
            <div class="product-photo"></div>
            <div class="product-info">
                <p class="product-name"><a href="#" data-toggle="modal" data-target="#myModal">aaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                </p>
                <p class="product-brand">bbbb</p>
                <p class="product-type">cccc</p>
            </div>
        </div>
        <div class="product">
        </div>
        <div class="product">
        </div>
        <div class="product">
        </div>
        <div class="product">
        </div>
        <div class="product">
        </div>
        <div class="product">
        </div>
        <div class="product">
        </div>
        <div class="product">
        </div>
        <div class="product">
        </div>
        <div class="product">
        </div>
        <div class="product">
        </div>
    </div>
</div>
<!-- Modal -->
<style>
</style>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">家具信息</h4>
            </div>
            <div class="modal-body" id="myModalBody">
                <div class="photo" id="fphoto"></div>
                <p class="name" id="fname">aaaaaaaaaaaaaaaaaaaaaaaa</p>
                <div class="info">
                    <p class="price" id="fprice">100</p>
                    <p class="brand" id="fbrand">bbbbbbbbbbbbbbbbb</p>
                    <p class="type" id="ftype">tttttttttttt</p>
                </div>
                <hr>
                <p class="remark" id="fremark">rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</p>
            </div>
            <div class="modal-footer" id="modalFooter">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    var furnitures = {'datalist': []};
    $(function () {
        $.ajax({
            type: 'GET',
            url: '/api/brand',
            success: function (data) {
                var str = '<a class="active" href="#" onclick="searchByBrand(this,0)">全部</a>';
                for (var i = 0; i < data.length; i++) {
                    str += '<a href="#" onclick="searchByBrand(this,' + data[i].id + ')">' + data[i].brandName + '</a>';
                }
                var list = document.getElementsByClassName("type-list")[0].innerHTML = str;
            }
        });
        $.ajax({
            type: 'GET',
            url: '/api/furnituretype',
            success: function (data) {
                var str = '<a class="active" href="#" onclick="searchByType(this,0)">全部</a>';
                for (var i = 0; i < data.length; i++) {
                    str += '<a  href="#" onclick="searchByType(this,' + data[i].id + ')">' + data[i].typeName + '</a>';
                }
                var list = document.getElementsByClassName("type-list")[1].innerHTML = str;
            }
        });
        $.ajax({
            type: 'GET',
            url: '/api/furniture/getall',
            success: function (data) {
                var str = '';
                var i = 0;
                for (; i < data.length; i++) {
                    var furnture = {
                        id: data[i].id,
                        name: data[i].furnitureName,
                        brand: data[i].brandName,
                        type: data[i].typeName,
                        price: data[i].unitPrice,
                        colour: data[i].colour,
                        remark: data[i].otherInformation,
                        image:data[i].image
                    }
                    furnitures.datalist.push(furnture);
                    str += '<div class="product">';
                    str += '<div class="product-photo" style="background-image: url(\'/images/IMG/'+data[i].image+'\')"></div>';
                    str += '<div class="product-info">';
                    str += '<p class="product-name"><a href="#" onclick="showFurniture(' + data[i].id + ')">' + data[i].furnitureName + '</a> </p>';
                    str += '<p class="product-brand">' + data[i].brandName + '</p>';
                    str += '<p class="product-type">' + data[i].typeName + '</p>';
                    str += '</div></div>';
                }
                for (; i < 12; i++)
                    str += '<div class="product" style="border: none;box-shadow: none"></div>';
                var list = document.getElementsByClassName("info-box")[0].innerHTML = str;
            }
        });
        // $.ajax({
        //     type: 'GET',
        //     url: '/api/brand',
        //     success: function (data) {
        //         var str = '<a class="active" href="">全部</a>';
        //         for (var i = 0; i < data.length; i++) {
        //             str += '<a onclick="searchByBrand(' + data[i].id + ')">' + data[i].brandName + '</a>';
        //         }
        //         var list = document.getElementsByClassName("type-list")[0].innerHTML = str;
        //     }
        // })
    });


    function searchByBrand(obj, id) {
        $("#brandList .active").removeClass("active");
        $(obj).addClass("active");
        if (id == 0) {
            $.ajax({
                type: 'GET',
                url: '/api/furniture/getall',
                success: function (data) {
                    var str = '';
                    var i = 0;
                    for (; i < data.length; i++) {
                        str += '<div class="product">';
                        str += '<div class="product-photo" style="background-image: url(\'/images/IMG/'+data[i].image+'\')"></div>';
                        str += '<div class="product-info">';
                        str += '<p class="product-name"><a href="#" onclick="showFurniture(' + data[i].id + ')">' + data[i].furnitureName + '</a> </p>';
                        str += '<p class="product-brand">' + data[i].brandName + '</p>';
                        str += '<p class="product-type">' + data[i].typeName + '</p>';
                        str += '</div></div>';
                    }
                    for (; i < 12; i++)
                        str += '<div class="product" style="border: none;box-shadow: none"></div>';
                    var list = document.getElementsByClassName("info-box")[0].innerHTML = str;
                }
            });
        }
        else {
            $.ajax({
                type: 'GET',
                url: '/api/furniture/getInfoByBandID',
                data: {brand: id},
                success: function (data) {
                    var str = '';
                    var i = 0;
                    for (; i < data.length; i++) {
                        str += '<div class="product">';
                        str += '<div class="product-photo" style="background-image: url(\'/images/IMG/'+data[i].image+'\')"></div>';
                        str += '<div class="product-info">';
                        str += '<p class="product-name"><a href="#" onclick="showFurniture(' + data[i].id + ')">' + data[i].furnitureName + '</a> </p>';
                        str += '<p class="product-brand">' + data[i].brandName + '</p>';
                        str += '<p class="product-type">' + data[i].typeName + '</p>';
                        str += '</div></div>';
                    }
                    for (; i < 12; i++)
                        str += '<div class="product" style="border: none;box-shadow: none"></div>';
                    var list = document.getElementsByClassName("info-box")[0].innerHTML = str;
                }
            });
        }

    }

    function searchByType(obj, id) {
        $("#typeList .active").removeClass("active");
        $(obj).addClass("active");
        if (id == 0) {
            $.ajax({
                type: 'GET',
                url: '/api/furniture/getall',
                success: function (data) {
                    var str = '';
                    var i = 0;
                    for (; i < data.length; i++) {
                        str += '<div class="product">';
                        str += '<div class="product-photo" style="background-image: url(\'/images/IMG/'+data[i].image+'\')"></div>';
                        str += '<div class="product-info">';
                        str += '<p class="product-name"><a href="#" onclick="showFurniture(' + data[i].id + ')">' + data[i].furnitureName + '</a> </p>';
                        str += '<p class="product-brand">' + data[i].brandName + '</p>';
                        str += '<p class="product-type">' + data[i].typeName + '</p>';
                        str += '</div></div>';
                    }
                    for (; i < 12; i++)
                        str += '<div class="product" style="border: none;box-shadow: none"></div>';
                    var list = document.getElementsByClassName("info-box")[0].innerHTML = str;
                }
            });
        }
        else {
            $.ajax({
                type: 'GET',
                url: '/api/furniture/getInfoByTypeID',
                data: {type: id},
                success: function (data) {
                    var str = '';
                    var i = 0;
                    for (; i < data.length; i++) {
                        str += '<div class="product">';
                        str += '<div class="product-photo" style="background-image: url(\'/images/IMG/'+data[i].image+'\')"></div>';
                        str += '<div class="product-info">';
                        str += '<p class="product-name"><a href="#" onclick="showFurniture(' + data[i].id + ')">' + data[i].furnitureName + '</a> </p>';
                        str += '<p class="product-brand">' + data[i].brandName + '</p>';
                        str += '<p class="product-type">' + data[i].typeName + '</p>';
                        str += '</div></div>';
                    }
                    for (; i < 12; i++)
                        str += '<div class="product" style="border: none;box-shadow: none"></div>';
                    var list = document.getElementsByClassName("info-box")[0].innerHTML = str;
                }
            });
        }

    }

    function showFurniture(id) {
        var fs = furnitures.datalist;
        for (var i = 0; i < fs.length; i++) {
            if (fs[i].id != id)
                continue;
            $("#fphoto").css('background-image','url(\'/images/IMG/'+fs[i].image+'\')');
            $("#fname").text(fs[i].name);
            $("#fbrand").text(fs[i].brand);
            $("#ftype").text(fs[i].type);
            $("#fprice").text("￥" + fs[i].price);
            $("#fremark").text(fs[i].remark);
            $("#myModal").modal('show');
            $("#modalFooter").html('  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>\n' +
                '<button type="button" class="btn btn-primary" id="saveChanges" onclick="addToUser(' + fs[i].id + ')">添加到收藏夹</button>');
        }
    }

    function addToUser(id) {
        myConfirm("确认收藏", "是否确认收藏该家具?", function (e) {
            if (e == true) {
                $.ajax({
                    type: "POST",
                    url: "/api/productbudget/addwithuser",
                    data: {id: id},
                    success: function (data) {
                        if (data.resultCode == 0) {
                            myAlert("收藏成功", "该家具收藏成功");
                            $("#myModal").modal('hide');
                        } else {
                            myAlert("收藏失败", data.message);
                        }
                    }
                })
            }
        })
    }
</script>
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="list">
            <ul class="social-footer-icons">
                <li>Decorate</li>
                <li>
                    <a href="#"><span class="fa fa-dribbble" aria-hidden="true"></span></a>
                    <a href="#"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                    <a href="#"><span class="fa fa-vk" aria-hidden="true"></span></a>
                    <a href="#"><span class="fa fa-pinterest-p" aria-hidden="true"></span></a>
                    <a href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                </li>
            </ul>

            <ul class="address">
                <li> Sophia Road</li>
                <li> 1594 Nicolas</li>
                <li> U S A</li>
            </ul>

            <ul class="email">
                <li>+1 358 649 4885</li>
                <li><a href="mailto:service@decorate.com">service@decorate.com</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- //footer -->
<!-- copyright -->
<div class="copyright">
    <div class="container">
        <p>© 2017 Decorate. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
    </div>
</div>
<!-- //copyright -->
<!-- scripts -->

<script src="js/bootstrap.min.js"></script>

<script src="js/jquery.flexslider.js"></script>

<!--Start-slider-script-->

<!--End-slider-script-->

<!-- smooth scrolling -->
<script src="js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!-- here stars scrolling icon -->
<!-- //here ends scrolling icon -->
<!-- smooth scrolling -->

<!-- scrolling script -->
<!-- //scrolling script -->

</body>
</html>
