<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zh">
<head>
    <!-- Meta tags -->
    <title>用户中心</title>
    <meta name="keywords" content="decorate a interior Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen"/> <!-- Testimonials js-->
    <link rel="stylesheet" href="css/lightbox.css">
    <link rel="stylesheet" href="css/style.css">


    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,700i,800,900" rel="stylesheet">
    <!-- scripts -->
    <script src="js/jquery.min.js"></script>
    <script type="application/javascript" src="js/alert.js"></script>
</head>
<body>
<div class="agile-banner">

    <nav class="navbar w3-navbar">

        <div class="container-fluid">
            <div class="row">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Logo -->
                    <div class="logo-container" style="margin-top: 4px">
                        <div class="logo-wrap">
                            <a href="#product" class="scroll">
                                Decorate
                            </a>
                        </div>
                    </div>
                </div> <!-- end navbar-header -->


                <div class="nav-wrap">
                    <div class="collapse text-center navbar-collapse w3ls-nav navbar-collapse">

                        <ul class="nav navbar-nav w3ls-nav1 text-center">

                            <li class="active">
                                <a href="/index" class="scroll">用户中心</a>
                            </li>
                            <li>
                                <a href="/skills" class="scroll">装修技巧</a>
                            </li>
                            <li>
                                <a href="/knowledge" class="scroll">装修常识</a>
                            </li>
                            <li>
                                <a href="/product" class="scroll">成品预算</a>
                            </li>
                            <li><a href="/budget" class="scroll">DIY家具预算</a></li>
                            <li><a href="/message" class="scroll">留言板</a></li>
                            <li>
                                <a href="/logout" class="scroll">注销</a>
                            </li>

                        </ul>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div> <!-- end container -->

    </nav> <!-- end navbar -->
</div>
<!-- user -->
<style>
    .user-box {
        position: relative;
        min-height: 800px;
        padding: 0px 8%;
    }

    .cart {
        width: 100%;
        height: 100%;

    }

    .search-box {
        height: 40px;
        margin-top: 25px;
        margin-bottom: 15px;
        position: relative;
    }

    .search-box h2 {
        position: absolute;
    }

    .search-box .col-lg-4 {
        position: absolute;
        right: 0;
    }

    .cart-table {
        width: 100%;
    }

    .cart-table {
        width: 100%;
    }

    .cart-table > thead > tr > th {
        padding: 15px 20px;
    }

    .cart-table > tbody > tr {

        border: 1px solid #c0c0c0;
    }

    .cart-table > tbody > tr > td {
        padding: 20px;
    }

    .info-box {
        height: 80px;
        width: 100%;
    }

    .info-img {
        float: left;
        background-color: red;
        width: 80px;
        height: 80px;
        margin-right: 5%;
    }

    #product-cart > tr > td > a, #diy-cart > tr > td > a {
        color: red;
    }

    .info-name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        width: 400px;
        float: left;
        color: darkgreen;
        font-size: 2rem;
        word-wrap: break-word;
    }

    .info-name:hover {
        color: orange;
    }

    ul.nav.nav-tabs li.active a {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }

    ul.nav.nav-tabs li a {
        color: darkgreen;
        cursor: default;
        background-color: #fff;
        border: none;
        border-bottom-color: transparent;
    }

</style>
<div class="user-box">
    <div class="cart">
        <div class="search-box">
            <h2>收藏夹</h2>
            <!--<div class="col-lg-4">-->
            <!--<div class="input-group">-->
            <!--<input type="text" class="form-control" placeholder="Search for...">-->
            <!--<span class="input-group-btn">-->
            <!--<button class="btn btn-default" type="button" style="font-size: 14.5px">Go!</button>-->
            <!--</span>-->
            <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
            <!--</div>&lt;!&ndash; /.col-lg-6 &ndash;&gt;-->
        </div>
        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#product" aria-controls="product" role="tab"
                                                          data-toggle="tab">成品预算</a></li>
                <li role="presentation"><a href="#diy" aria-controls="diy" role="tab"
                                           data-toggle="tab">DIY预算</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="product">
                    <table class="cart-table">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="diyallcheck" value="' + data[i].id + '"> 全选</th>
                            <th>商品信息</th>
                            <th>类型</th>
                            <th>价格</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="product-cart">
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="diy">
                    <table class="cart-table">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="productallcheck" value="' + data[i].id + '"> 全选</th>
                            <th>商品信息</th>
                            <th>类型</th>
                            <th>价格</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="diy-cart">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body" id="myModalBody">
                <div class="photo"></div>
                <p class="name">aaaaaaaaaaaaaaaaaaaaaaaa</p>
                <div class="info">
                    <p class="price">100</p>
                    <p class="brand">bbbbbbbbbbbbbbbbb</p>
                    <p class="type">tttttttttttt</p>
                </div>
                <hr>
                <p class="remark">rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(function () {
        showTableProduct();
        showTableDIY();
    });

    function showTableProduct() {
        $.ajax({
            type: "GET",
            url: "/api/productbudget/getallbyuser",
            success: function (data) {
                var str = "";
                for (var i = 0; i < data.length; i++) {
                    str += '<tr>\n' +
                        '                            <td> <input type="checkbox" name="productcheck" value="' + data[i].id + '"></td>\n' +
                        '                            <td style="width: 50%">\n' +
                        '                                <div class="info-box">\n' +
                        '                                    <div class="info-img"></div>\n' +
                        '                                    <a class="info-name" href="#" data-toggle="modal" data-target="#myModal">' + data[i].furnitureName + '</a>\n' +
                        '                                </div>\n' +
                        '                            </td>\n' +
                        '                            <td>成品预算</td>\n' +
                        '                            <td>￥' + data[i].price + '</td>\n' +
                        '                            <td><a href="#" onclick="deleteProduct(' + data[i].id + ')">删除</a></td>\n' +
                        '                        </tr>';
                }
                $("#product-cart").html(str);
            }
        })
    }

    function showTableDIY() {
        $.ajax({
            type: "GET",
            url: "/api/dIYBudget/getallbyuser",
            success: function (data) {
                var str = "";
                for (var i = 0; i < data.length; i++) {
                    str += '<tr>\n' +
                        '                            <td> <input type="checkbox" name="diycheck" value="' + data[i].id + '"></td>\n' +
                        '                            <td style="width: 50%">\n' +
                        '                                <div class="info-box">\n' +
                        '                                    <a class="info-name">' + data[i].meterialsName + '&' + data[i].workersName + '</a>\n' +
                        '                                </div>\n' +
                        '                            </td>\n' +
                        '                            <td>DIY预算</td>\n' +
                        '                            <td>￥' + data[i].price + '</td>\n' +
                        '                            <td><a href="#" onclick="deleteDIY(' + data[i].id + ')">删除</a></td>\n' +
                        '                        </tr>';
                }
                $("#diy-cart").html(str);
            }
        })
    }

    function deleteProduct(obj) {
        myConfirm('删除确认', '确认要删除这条记录吗？', function (e) {
            if (e == true) {
                $.ajax({
                    type: "DELETE",
                    url: "/api/productbudget/" + obj,
                    success: function (data) {
                        if (data.resultCode == 0) {
                            myAlert("删除确认", "删除成功");
                            showTableProduct();
                        }
                        else
                            myAlert("删除失败！！！", data.message);
                    }
                })
            }
        })
    }

    function deleteDIY(obj) {
        myConfirm('删除确认', '确认要删除这条记录吗？', function (e) {
            if (e == true) {
                $.ajax({
                    type: "DELETE",
                    url: "/api/dIYBudget/" + obj,
                    success: function (data) {
                        if (data.resultCode == 0) {
                            myAlert("删除确认", "删除成功");
                            showTableDIY();
                        }
                        else
                            myAlert("删除失败！！！", data.message);
                    }
                })
            }
        })
    }
</script>
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="list">
            <ul class="social-footer-icons">
                <li>Decorate</li>
                <li>
                    <a href="#"><span class="fa fa-dribbble" aria-hidden="true"></span></a>
                    <a href="#"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                    <a href="#"><span class="fa fa-vk" aria-hidden="true"></span></a>
                    <a href="#"><span class="fa fa-pinterest-p" aria-hidden="true"></span></a>
                    <a href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                </li>
            </ul>

            <ul class="address">
                <li> Sophia Road</li>
                <li> 1594 Nicolas</li>
                <li> U S A</li>
            </ul>

            <ul class="email">
                <li>+1 358 649 4885</li>
                <li><a href="mailto:service@decorate.com">service@decorate.com</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- //footer -->
<!-- copyright -->
<div class="copyright">
    <div class="container">
        <p>© 2017 Decorate. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
    </div>
</div>
<!-- //copyright -->
<!-- scripts -->

<script src="js/bootstrap.min.js"></script>

<script src="js/jquery.flexslider.js"></script>

<!--Start-slider-script-->
<script type="text/javascript">

    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>

<!--End-slider-script-->

<!-- smooth scrolling -->
<script src="js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({easingType: 'easeOutQuart'});

    });
</script>
<!-- //here ends scrolling icon -->
<!-- smooth scrolling -->

<!-- scrolling script -->

<!-- //scrolling script -->

</body>
</html>
