<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="starter">
<head>
    <meta charset="UTF-8">
    <title>家具预算后台</title>
</head>
<body>
<!-- Content Wrapper. Contains page content -->
<div layout:fragment="content" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <style>
        #addBtn {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
    <section class="content-header">
        <h1>
            工人管理
            <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <table class="table" id="table"
               data-toggle="table"
               data-striped="true"
               data-search="true"
               data-click-to-select="true"
               data-pagination="true"
               data-page-size="1000"
               data-page-list="[]" data-url="/api/worker">
            <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="workerName">Name</th>
                <th data-field="position">Position</th>
                <th data-field="dailyWage">Daily Wage</th>
                <th data-field="console" data-formatter="optFormatter">Option</th>
            </tr>
            </thead>
        </table>
        <script>
            $(function () {
                $(".fixed-table-toolbar").prepend("<button type='button' class='btn btn-success' id='addBtn' onclick='createModal()'>新增</button>");

                $("#table").bootstrapTable('resetView', {
                    height: document.documentElement.clientHeight - 200
                });
            })

            function optFormatter(value, row, index) {
                var e = '<button type="button" class="btn btn-info  btn-xs" style="margin-right: 5px"  onclick="modifyModal(this)">编辑</button>';
                e += '<button type="button" class="btn btn-danger  btn-xs" onclick="deleteWorker(this)">删除</button>';
                return e;
            }

            function deleteWorker(obj) {
                var tr = obj.parentNode.parentNode;
                var id = tr.cells[0].innerHTML;
                var name = tr.cells[1].innerHTML;
                myConfirm("删除技工", "是否删除技工" + name + "？", function (con) {
                    if (con == true) {
                        $.ajax({
                            type: "DELETE",
                            url: "/api/worker/" + id,
                            success: function (data) {
                                if (data.resultCode == 0) {
                                    myAlert("系统提示", "删除技工成功");
                                    $("#myModal").modal("hide");
                                    $('#table').bootstrapTable('refresh');
                                    initModal();
                                }
                                else {
                                    alertError(data.message);
                                }
                            }
                        })
                    }
                })
            }
        </script>
        <!--<script type="application/javascript">-->
        <!--$(function () {-->
        <!--$.ajax({-->
        <!--type:"GET",-->
        <!--url:"/api/user",-->
        <!--success:function (data) {-->
        <!--$("#table").bootstrapTable('load',data);-->
        <!--}-->
        <!--})-->
        <!--})-->
        <!--</script>-->
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert" role="alert" id="modalAlert" hidden></div>
                        <form class="form-horizontal">
                            <div class="form-group" id="groupID">
                                <label for="inputID" class="col-sm-2 control-label">ID</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputID" placeholder="Worker's ID"
                                           disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputName" placeholder="Worker's Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPosition" class="col-sm-2 control-label">Position</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputPosition"
                                           placeholder="Worker's Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputWage" class="col-sm-2 control-label">Wage</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="inputWage" placeholder="Worker's Name">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="saveChanges">Save changes</button>
                    </div>
                </div>
            </div>
            <script type="application/javascript">
                function initModal() {
                    $("#modalAlert").hide();
                    $("#groupID").hide();
                    $("#inputID").val();
                    $("#inputName").val("");
                    $("#inputPosition").val("");
                    $("#inputWage").val("");
                }

                function alertError(text) {
                    var al = $("#modalAlert");
                    al.get(0).className = "alert alert-error";
                    al.shake(2, 10, 200);
                    al.slideDown("fast");
                    al.text(text);
                }

                function createModal() {
                    initModal();
                    var btn = document.getElementById("saveChanges");
                    btn.setAttribute("onclick", "createNewWorker()");
                    $("#myModalLabel").text("新增技工");
                    $("#myModal").modal("show");
                }

                function modifyModal(obj) {
                    var tr = obj.parentNode.parentNode;
                    var id = tr.cells[0].innerHTML;
                    var name = tr.cells[1].innerHTML;
                    var positon = tr.cells[2].innerHTML;
                    var wage = tr.cells[3].innerHTML;
                    initModal();
                    $("#inputID").val(id);
                    $("#groupID").show();
                    $("#inputName").val(name);
                    $("#inputPosition").val(positon);
                    $("#inputWage").val(wage);
                    var btn = document.getElementById("saveChanges");
                    btn.setAttribute("onclick", "modifyWorker()");
                    $("#myModalLabel").text("修改技工");
                    $("#myModal").modal("show");
                }

                function createNewWorker() {
                    var name = $("#inputName").val();
                    var position = $("#inputPosition").val();
                    var wage = $("#inputWage").val();
                    if (name == "")
                        alertError("技工名不可以为空");
                    else if (position == "")
                        alertError("工种不可以为空");
                    else if (wage == "")
                        alertError("日薪不可以为空");
                    else {
                        $.ajax({
                            type: "POST",
                            url: "/api/worker/add",
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify({
                                workerName: name,
                                position: position,
                                dailyWage: wage
                            }),
                            success: function (data) {
                                if (data.resultCode == 0) {
                                    myAlert("系统提示", "新建成功");
                                    $("#myModal").modal("hide");
                                    $('#table').bootstrapTable('refresh');
                                    initModal();
                                }
                                else {
                                    alertError(data.message);
                                }
                            }
                        })
                    }
                }

                function modifyWorker() {
                    var id = $("#inputID").val();
                    var name = $("#inputName").val();
                    var position = $("#inputPosition").val();
                    var wage = $("#inputWage").val();
                    if (name == "")
                        alertError("技工名不可以为空");
                    else if (position == "")
                        alertError("工种不可以为空");
                    else if (wage == "")
                        alertError("日薪不可以为空");
                    else {
                        $.ajax({
                            type: "PUT",
                            url: "/api/worker/update",
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify({
                                id: id,
                                workerName: name,
                                position: position,
                                dailyWage: wage
                            }),
                            success: function (data) {
                                if (data.resultCode == 0) {
                                    myAlert("系统提示", "修改成功");
                                    $("#myModal").modal("hide");
                                    $('#table').bootstrapTable('refresh');
                                    initModal();
                                }
                                else {
                                    alertError(data.message);
                                }
                            }
                        })
                    }
                }
            </script>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
</body>
</html>